@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* colors */
  --purple: #5b21b6;
  --lightpurple: #a78bfa;
  --darkpurple1: #4c1d95;
  --light-grey: #f9fafb;
  --light-grey1: #e5e7eb;
  --lightgrey2: #9ca3af;
  --midgrey: #6b7280;
  --darkgrey: #111827;
  --textgrey: #374151;
  --lightgreen: #ecfdf5;
  --darkgreen: #059669;
  --darkgreen1: #065f46;
  --lightyellow: #fffbeb;
  --darkyellow: #f59e0b;
  --darkyellow1: #d97706;
  --orange: #ff5722;
  --lightred: #fef2f2;
  --darkred: #dc2626;
  --darkred1: #b91c1c;
  --lightblue: #eff6ff;
  --darkblue: #2563eb;
  --darkblue1: #1d4ed8;
  --facebook: #3b5998;
  --twitter: #3cf;
  --linkedin: #0072b1;
  --instagram: linear-gradient(#e96443, #904e95);
  color: var(--textgrey);
}

/* common style classes */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  text-align: center;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.rm {
  margin-block-start: 0;
  margin-block-end: 0;
}

.br {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: inline;
}

.rm-ul-padding {
  padding-inline-start: 0;
}

.circle-border {
  color: inherit;
  border: 2px solid;
  border-radius: 50%;
  padding: 0.25rem;
}

.sm {
  width: 3rem;
  height: 3rem;
}

.md {
  width: 4rem;
  height: 4rem;
}

.lg {
  width: 5rem;
  height: 5rem;
}

.mb {
  margin-bottom: 1rem;
}

/* navbar */
.navbar {
  background: var(--purple);
  color: var(--light-grey);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.hamburger-menu__line {
  display: block;
  width: 2rem;
  height: 3px;
  background: var(--light-grey);
  margin-bottom: 5px;
  border-radius: 5px;
  transition: all 500ms linear;
  transform-origin: 5px 2px;
}

.click .hamburger-menu__line:first-child {
  transform: rotate(45deg);
}

.click .hamburger-menu__line:nth-child(2) {
  opacity: 0;
}

.click .hamburger-menu__line:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar__list {
  display: inline;
  margin-right: 1rem;
}

/* avatar */
.avatar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.avatar__img {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--darkgrey);
}

/* alert */
.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15rem;
}

.alert {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.alert div {
  margin-right: 1.5rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-alert {
  color: var(--darkgreen);
  border: 1.5px solid var(--darkgreen);
  background: var(--lightgreen);
}
.warning-alert {
  color: var(--darkyellow);
  border: 1.5px solid var(--darkyellow);
  background: var(--lightyellow);
}
.danger-alert {
  color: var(--darkred);
  border: 1.5px solid var(--darkred);
  background: var(--lightred);
}

.info-alert {
  color: var(--darkblue);
  border: 1.5px solid var(--darkblue);
  background: var(--lightblue);
}

/* badge */
.badge-container {
  margin: 1rem;
}

.badge {
  padding: 0.25rem;
  font-size: 0.65rem;
  font-weight: bold;
}

.primary-badge {
  color: var(--light-grey);
  background: var(--purple);
}

.secondary-badge {
  border: 1.5px solid var(--purple);
  color: var(--purple);
}

.pill-badge-primary {
  color: var(--light-grey);
  background: var(--purple);
  border-radius: 10px;
}

.pill-badge-secondary {
  border: 1.5px solid var(--purple);
  color: var(--purple);
  border-radius: 10px;
}

.avatar-badge-container {
  position: relative;
}

.avatar-badge {
  min-width: 1rem;
  height: 1rem;
  padding: 0.15rem;
  border-radius: 50%;
  background: var(--purple);
  color: var(--light-grey);
  position: absolute;
  bottom: 75%;
  right: -10%;
  font-size: 0.65rem;
  font-weight: bold;
}

.avatar-badge-container .fa {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--darkgrey);
}

/* buttons */
.buttons,
.socials {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* normal buttons */
.btn {
  padding: 0.65rem;
  border-radius: 0.25rem;
  /* margin: 0.5rem; */
}

.btn-primary {
  border: none;
  color: var(--light-grey);
  background: var(--purple);
}

.btn-secondary {
  border: none;
  color: var(--light-grey);
  background: var(--textgrey);
}

.btn-success {
  border: none;
  color: var(--light-grey);
  background: var(--darkgreen);
}

.btn-danger {
  border: none;
  color: var(--light-grey);
  background: var(--darkred);
}

.btn-warning {
  border: none;
  color: var(--darkgrey);
  background: var(--darkyellow);
}

.btn-info {
  border: none;
  color: var(--light-grey);
  background: var(--darkblue);
}

.btn-light {
  border: none;
  color: var(--textgrey);
  background: var(--light-grey);
}

.btn-dark {
  border: none;
  color: var(--light-grey);
  background: var(--darkgrey);
}

.btn-link {
  background: transparent;
  border: none;
  color: var(--darkblue);
  text-decoration: underline;
}

/* actual buttons hover */
.btn-primary:hover {
  background: var(--darkpurple1);
}

.btn-secondary:hover {
  background: var(--darkgrey);
}

.btn-success:hover {
  background: var(--darkgreen1);
}

.btn-danger:hover {
  background: var(--darkred1);
}

.btn-warning:hover {
  background: var(--darkyellow1);
}

.btn-info:hover {
  background: var(--darkblue1);
}

.btn-light:hover {
  background: var(--light-grey);
}

.btn-dark:hover {
  background: var(--darkgrey);
}

.btn-link:hover {
  color: var(--darkblue1);
}

/* outline-buttons */
.btn-outline-primary {
  background: transparent;
  color: var(--purple);
  border: 1.5px solid;
}

.btn-outline-secondary {
  background: transparent;
  color: var(--textgrey);
  border: 1.5px solid;
}

.btn-outline-success {
  background: transparent;
  color: var(--darkgreen);
  border: 1.5px solid;
}

.btn-outline-danger {
  background: transparent;
  color: var(--darkred);
  border: 1.5px solid;
}

.btn-outline-warning {
  background: transparent;
  color: var(--darkyellow);
  border: 1.5px solid;
}

.btn-outline-info {
  background: transparent;
  color: var(--darkblue);
  border: 1.5px solid;
}

.btn-outline-light {
  background: transparent;
  color: var(--light-grey1);
  border: 1.5px solid;
}

.btn-outline-dark {
  background: transparent;
  color: var(--dark-grey);
  border: 1.5px solid;
}

/* outline-buttons-hover */

.btn-outline-primary:hover {
  background: var(--purple);
  color: var(--light-grey);
  border: 1.5px solid;
}

.btn-outline-secondary:hover {
  background: var(--textgrey);
  color: var(--light-grey);
  border: 1.5px solid;
}

.btn-outline-success:hover {
  background: var(--darkgreen);
  color: var(--light-grey);
  border: 1.5px solid;
}

.btn-outline-danger:hover {
  background: var(--darkred);
  color: var(--light-grey);
  border: 1.5px solid;
}

.btn-outline-warning:hover {
  background: var(--darkyellow);
  color: var(--light-grey);
  border: 1.5px solid;
}

.btn-outline-info:hover {
  background: var(--darkblue);
  color: var(--light-grey);
  border: 1.5px solid;
}

.btn-outline-light:hover {
  background: var(--light-grey1);
  color: var(--text-grey);
  border: 1.5px solid;
}

.btn-outline-dark:hover {
  background: var(--darkgrey);
  color: var(--light-grey);
  border: none;
}

/* disabled */
.disabled {
  opacity: 0.65;
}

/* social buttons */

.btn-social {
  background: transparent;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.55);
  border: none;
  text-align: center;
  border-radius: 12px;
  padding: 0.5rem;
}

.btn-social:hover {
  /* box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.55); */
  background: var(--light-grey);
}

.fa-twitter {
  color: var(--twitter);
}

.fa-linkedin {
  color: var(--linkedin);
}

.fa-github {
  color: var(--darkgrey);
}

.fa-instagram {
  background: var(--instagram);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio {
  color: var(--purple);
  padding: 0.65rem;
  font-weight: bold;
  font-size: 1rem;
}

/* icon-button */
.btn-icon {
  background: transparent;
  border: none;
}

.shopping-cart {
  color: var(--textgrey);
  padding: 0.5rem;
}

.shopping-cart:hover {
  background: var(--light-grey1);
}

.trash {
  color: var(--darkred);
  padding: 0.25rem 0.5rem;
}

.trash:hover {
  background: var(--lightred);
}

.transparent-close {
  color: var(--darkred);
  border: 1.5px solid;
  border-radius: 5px;
  font-size: medium;
}

.transparent-close:hover {
  background: var(--lightred);
}

.solid-close {
  background: var(--darkred);
  color: var(--light-grey);
  /* border-radius: 5px; */
  font-size: 1.25rem;
}

.solid-close:hover {
  background: var(--darkred1);
}

.no-border {
  border: none;
}

.btn-social-engagement {
  color: var(--textgrey);
  font-size: 1.5rem;
  padding: 0;
}

.btn-social-engagement .fa-heart {
  color: var(--darkred);
}

.btn-floating-action {
  padding: 0.25rem 1rem;
  border-radius: 50%;
  background: var(--purple);
  border: none;
  color: var(--light-grey);
  font-size: 2.15rem;
  font-weight: 1000;
  /* box-shadow: 0 5px 15px -5px #a78bfa; */
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.45));
}

.btn-floating-action:hover {
  background: var(--darkpurple1);
}

/* card */
.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 17rem;
  transition: all 200ms ease-in-out;
}

.card:hover {
  box-shadow: 13px 13px 21px -5px rgba(0, 0, 0, 0.3);
}

.responsive-img {
  width: 100%;
}

.card__description {
  padding: 0.5rem 0.75rem;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary {
  height: 4.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.light {
  color: var(--midgrey);
  font-weight: lighter;
}
.strikethrough {
  text-decoration: line-through;
}

.primary .price h5 {
  display: inline;
  padding-right: 0.45rem;
}

.discount {
  color: var(--light-grey);
  background: red;
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
}

.secondary .orange-txt {
  color: var(--orange);
  font-size: 0.65rem;
}

.card__badge {
  position: absolute;
  left: 0;
  top: 2rem;
  background: var(--purple);
  padding: 0.25rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
}

.dismiss-card {
  width: 20rem;
  position: relative;
}

.dismiss-card__description {
  padding: 0 1.5rem 1rem 1.5rem;
}

.dismiss-card .btn-icon {
  position: absolute;
  right: 0;
  opacity: 0;
}

.dismiss-card:hover .btn-icon {
  opacity: 1;
}

/* overlay card */
.overlay-card {
  width: 20rem;
  position: relative;
  transition: all 200ms ease-in-out;
}

.txt-overlay {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 1rem 1rem 0 1rem;
  opacity: 0;
  z-index: 1;
}

.overlay-card button {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  opacity: 0;
}

.overlay-card:hover {
  transform: scale(1.02);
}

.overlay-card:hover .responsive-img {
  filter: brightness(50%);
}

.overlay-card:hover .txt-overlay,
.overlay-card:hover .btn-icon {
  opacity: 1;
  filter: brightness(100%);
}

/* text card */
.txt-card {
  width: 20rem;
  padding: 1rem;
  box-shadow: 13px 13px 21px -5px rgba(0, 0, 0, 0.3);
}

.txt-card .title {
  margin-block-start: 0;
}

.txt-card .subtitle {
  color: var(--midgrey);
  margin-block-start: 0;
}

/* horizontal cart(cart-item) */
.horizontal-card {
  padding: 0.75rem;
  border: 1px solid var(--purple);
  display: flex;
  flex-direction: column;
}

.horizontal-card__cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--light-grey1);
}

.cart-item__img {
  width: 10rem;
}

.cart-item__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart-item__details {
  padding: 0 1rem;
}

.details__primary {
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart-item__price {
  padding: 0 1rem;
}

.cart-item__price span {
  font-size: 0.75rem;
}

.price__discount {
  color: var(--purple);
}

.horizontal-card__btns {
  padding-top: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.horizontal-card__btns div {
  justify-self: center;
}

.horizontal-card__btns button {
  padding: 0.5rem;
  background: transparent;
  border: none;
  font-weight: bold;
}

.remove {
  color: var(--midgrey);
}

.wishlist {
  color: var(--purple);
}

.img-container {
  width: 20rem;
}

.round {
  width: 10rem;
  height: 10rem;
  /* object-fit: cover; */
}

/* form */
.input-group {
  position: relative;
  /* margin: 2rem; */
  margin-bottom: 2rem;
}
.input-group .input-area {
  outline: none;
  border: 1px solid var(--lightgrey2);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.input-group label {
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  color: var(--lightgrey2);
  background: white;
  transition: all 0.2s ease-in-out;
}

.input-area:focus {
  border: 2px solid var(--purple);
}

.input-area:focus + label {
  top: -8px;
  padding: 0 0.45rem;
  color: var(--purple);
  font-size: 1rem;
}
